.reservation-card {
    border: solid 4px  teal;;
    background-color: white;
    margin: 10px;
    border-radius: 4px;
    color: teal;
    font-family: 'Pacifico', cursive;
    width: 30%;
}

button {
    background: teal;
    width: 23%;
    height: 10%;
    color: white;
}